* {
    box-sizing: border-box;
}

body {
  background: teal;
  font-family: 'Baloo Chettan', cursive;
  color: #fff;
  height: 100%;
  text-align: center;
  font-size: 12px;
}


h1 {
  font-family: 'Baloo Chettan', cursive;
  margin: 5px 0;
  font-size: 60px;
  color: orange;
  margin-top:  100px;
}


p {
  font-size: 30px;
}

input {
  background: #fff;
  color: teal;
  border-radius: 20px;
  font-size: 18px;
  padding: 18px 10px;
  width: 120px;
  margin: 10px;
}

.sizing {
  font-size: 25px;
}

input:hover {
  background: orange;
  color: #fff;
}

@media (max-width: 767px) {
  #alphabet {
    padding: 0 0 0 15px;
  }
}
@media (max-width: 480px) {
  #alphabet {
    padding: 0 0 0 25px;
  }
}

img {
    height: 100px;
    width: 100px;
    position: absolute;
    top: 10%;
    left: 50%;
    margin:-60px 0 0 -60px;
    -webkit-animation:spin 4s linear infinite;
    -moz-animation:spin 4s linear infinite;
    animation:spin 4s linear infinite;
}
@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }
}




